{% extends "base.html" %}
{% block title %}
  
<h1>Register</h1>
{% endblock title %}
{% block body %}
<h1 class="text-center">User-Registeration</h1>
<form method="POST" class="w-100 d-flex justify-content-center ">
    {% csrf_token %}
    <div class="main text-center">
       <table> {{ form.as_p }} </table>
       <div class="fls">
        <button type="submit">Register</button><br> 
        <a href="{% url 'login' %}">Already have an account? Log in</a>
       </div>
    </div>
</form>
   

{% endblock body %}

{% block footer %}
  
{% endblock footer %}