{% extends "base.html" %}
{% load static %}
{% block title %}
  ShoeInfo
{% endblock title %}
<style>
    .flex-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
</style>
{% block body %}
<div class="main w-100 h-100vh" style="background-color: #f0ece2;">
<div class="container py-5" style="background-color: #f8f8f8 ">
    <div class="row">
       
        <div class="col-md-6">
            <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}" class="img-fluid">
        </div>

      
        <div class="col-md-6">
                <h1>{{ shoe.name }}</h1>
                <p class="price">₹{{ shoe.price }}</p>
                <p class="description">{{ shoe.description }}</p>

                <div class="w-100 d-flex " style="gap: 12px;">
                <div class="size-options">
                  <label for="size">Size:</label>
                  <select id="size" name="size">
                      {% for size in sizes %}
                          <option value="{{ size }}">{{ size }}</option>
                      {% endfor %}
                  </select>
              </div>
              
              <div class="color-options">
                  <label for="color">Color:</label>
                  <select id="color" name="color">
                      {% for color in colors %}
                          <option value="{{ color }}">{{ color }}</option>
                      {% endfor %}
                  </select>
              </div>
            </div>
          <div class="button d-flex"  style="justify-content: center; position:relative; top:12px">
            <button style="background-color: rgb(31, 88, 195); border:0; padding:8px 15px; border-radius:4px">   <a style="color:white; text-decoration:none" href="{% url 'add_to_cart' shoe.pk %}">Buy Now</a></button>
           
          </div>
        </div>
    </div>
    
</div>


    <div class="container py-2">
        <h2 class="text-center mb-4">🛍️ Related Products</h2>
        <div class="row">
            {% for product in related_shoes %}
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card" style="height: 100%;">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="aspect-ratio:auto;">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">₹{{ product.price }}</p>
                                <a href="{% url 'shoeinfo' product.id %}" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
               
            {% endfor %}
        </div>

    </div>

</div>

{% endblock body %}